<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <br>
    <a href="\logout" class="btn btn-warning">Logout</a>

    <div class="container">
        <h1>Lista de Demandas</h1>
        <a class="btn btn-success" href="/create">Criar nova demanda</a>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">nome</th>
                    <th scope="col">ações</th>
                </tr>
            </thead>
            <tbody>
                <% demandas.forEach(demanda=> { %>
                    <tr>
                        <th scope="row">
                            <%= demanda.id %>
                        </th>
                        <td>
                            <%= demanda.nome %>
                        </td>

                        <td>
                            <a href="/edit/<%= demanda.id %>" class="btn btn-warning">Editar</a>

                            <form method="POST" action="/delete" style="display: inline;"
                                onsubmit="confirmarDelecao(event, this)">
                                <input type="hidden" name="id" value="<%= demanda.id %>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                            <% if(demanda.file){ %>  <a href="<%= demanda.file %>" class="btn btn-success">ver upload</a> <% } %>

                        </td>

                    </tr>
                    <% }) %>


            </tbody>
        </table>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
        <script>
            function confirmarDelecao(event, form){
                event.preventDefault();
                var decision = confirm("Você quer deletar esta demanda?");
                if(decision){
                    form.submit();
                }
            }
        </script>
</body>

</html>