<%- include('../partials/header.ejs') %>
    <%- include ('../partials/navbar.ejs') %>
        <!-- Conteúdo específico da página -->
        <div class="container mt-4">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% demandas.forEach(demanda=> { %>
                        <tr>
                            <th scope="row">
                                <%= demanda.id %>
                            </th>
                            <td>
                                <%= demanda.nome %>
                            </td>
                            <td>
                                <% const status=statusLabels[demanda.status]; %>
                                    <span class="badge <%= status.class %>">
                                        <%= status.text %>
                                    </span>
                            </td>
                            <td>
                                <a href="/demandas/<%= demanda.id %>" class="btn btn-info btn-sm">Visualizar</a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
        <%- include('../partials/footer.ejs') %>